<% include partials/header %>
   <h1>Welcome to Social Music</h1>
   <div class="row">
	   <div class="col-md-6 col-sm-6 col-xs-6">
	   		<h2>Top 5</h2>
	   		<table>
			    <tr>
			        <th>Title</th>
			        <th>Album</th>
			        <th>Artist</th>
			        <th>Year</th>
			        <th>BPM</th>
			    </tr>
				<!-- je te mets la correction, t'as mal itéré sur le résultat recuperé -->
				<% top.forEach(function(rating) {%>
				    <tr>
			            <td>
			                <a href="/songs/<%=rating.song._id%>"><%=rating.song.title%></a>
			            </td>
			            <td><%=rating.song.album%></td>
			            <td><%=rating.song.artist%></td>
			            <td>
			                <% if (rating.song.year) { %><%=rating.song.year%><% } %>
			            </td>
			            <td>
			                <% if (rating.song.bpm) { %><%=rating.song.bpm%><% } %>
			            </td>
						<td>
							<%=rating.avgNote%>
						</td>
			        </tr>
			    <% }) %>
			</table>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
	   		<h2>Dernières users inscrits</h2>
		</div>
	</div>
<% include partials/footer %>
